*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #f0f0f0;    
}

/* Login form style start */
form.login-form{
    margin: 0 auto;
    margin-top: 30vh;
    width: 20rem;
    height: 10rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;

}
.login-form form input{
    margin-bottom: 2rem;
    height: 1.5rem;
    padding: 0.5rem;
}
.login-form form button{
    height: 2rem;
    
}
/* Login form style end */

/* Navbar form style start */
.container{
    width: 600px;
    min-height: 75vh;
    margin: 0 auto;
    background-color: lightgreen;
}
nav{
    padding: 1rem 2rem;
    background-color: azure;
    display: flex;
    position: relative;
}
.logo{
    width: 60%;
}
.notifications{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.notification{
    position: relative;
}
.icon, .add-photo{
    font-size: 1.7rem;
    cursor: pointer;
}
.number{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
}
/* Card style */
.post-img{
    width: 100%;
}
.post-user{
    display: block;
    padding: 1rem;
}
.post-container:last-child{
    padding-bottom: 3rem;
}
.like-icons{
    margin-left: 1rem;
}
.like-span{
    display: inline-block;
    margin: 0 1rem 0 0.5rem;
    cursor: pointer;
}
.comment-span{
    cursor: pointer;
}

.like-msg{
    position: absolute;
    top: 100%;
    right: 10rem;
    width: 17rem;
    background-color: white;
    min-height: 5rem;
    border-radius: 5px;
    padding: 0.2rem;
    display: none;
}
.like-msg span{
    text-align: center;
}
.like-msg button{
    display: block;
    margin: 0 auto;
    margin-top: 0.5rem;
    padding: 0rem 1rem;
}
/* Comment functionality */
.comment--form{
    margin: 0.5rem 0;
    padding: 0 1rem;
    display: flex
}
.comment--textarea{
    display: block;
    width: 80%;
    padding: 0.2rem 0.5rem;
    outline: none;
}
.comment--textarea:focus{
    outline: none;
}
.comment--button{
    display: block;
    width: 20%;
    margin-left: 1rem;
}
.single--comment{
    padding: 0.5rem 1rem;
}